.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
  justify-content: center;

    .header-link {
      cursor: pointer;
      margin: 20px;
      padding: 10px;
      border: 1px solid #87CEEB;
      width: 100px;
      text-align: center;
    }
}
.registry-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .main-box {
    display: flex;
    justify-content: left;
    width: 70%;
  }

  .main-massage {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 50px;
  }


  .main-list {
    display: flex;
    flex-direction: column;
    width: 30%;

    .main-list-chat {
      display: flex;
      align-items: center;
      border: 1px solid #87CEEB;
      height: 50px;
      width: 100%;
      margin: 10px;
      text-align: center;
      background-color: #F5F5F5;

        .main-list-chat-text {
display: flex;
          width: 90%;
        }
      .main-list-chat-text {
        width: 100%;
      }
    }

  }

}
.messages-text {
  display: flex;
  flex-direction: row;
  align-items: center;


  .messages-text-button {
    margin-left: 20px;
    height: 50%;
  }
}